.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background: rgba(173, 175, 179, 0.5);
}

.modal-box {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
