.search-ico {
  display: none;
}

.search-list {
  position: absolute;
  z-index: 999;

  background: #fff;
  color: #000;
}

.search-list > li {
  margin-bottom: 5px;
}

@media screen and (max-width: 639px) {
  .search-ico {
    display: block;
  }
}
