.darkMode {
  background: #2a303c;
  color: #9badbb;
}

.lightMode {
  background: #fff;
  color: #000;
}

.item_list {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 767px) {
  .item_list {
    display: block;
  }

  .scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .item_list {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(2, 1fr);
  }
}
